.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70vw;
}
.viewParentDiv .imageShowDiv img {
  width: 65vw;
  height: 85vh;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}



.generate_button {
  margin-top: 10px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.generate_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.generate_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* Define the styles for the p tag */
/* Define the styles for the p tag */
.generated_text {
  padding-top: -30px;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 10px;
  /* Preserve line breaks */
  overflow: hidden; /* Hide overflowing text */
  max-height: 0;
  animation: expand 4s linear forwards;
}

/* Define the typing animation keyframes */
@keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1000px; /* Adjust to a sufficiently large value */
  }
}

